.DS_Store
.ropeproject
*.sw?
*.pyc
manifest.xml
ansible.log
rook/kubeconfig/
rook/cephconfig/
rook/geni/hosts
rook/.env

skyhook_overhead/data

# ceph benchmarks
rook/ceph_benchmarks/results

# iperf
rook/kubestone-iperf/results
rook/kubestone-iperf/*.png

# fio
rook/kubestone-fio/results
rook/kubestone-fio/*.png
rook/kubestone-fio/*.yaml
