[submodule "rook/kubespray"]
	path = rook/kubespray
	url = https://github.com/kubernetes-sigs/kubespray
[submodule "rook/kube-prometheus"]
	path = rook/kube-prometheus
	url = https://github.com/prometheus-operator/kube-prometheus
