.DS_Store
.ropeproject
*.sw?
*.pyc
manifest.xml
ansible.log
rook/kubeconfig/
rook/ceph-client/config
rook/geni/hosts
rook/results/
rook/.env

skyhook_overhead/data

# iperf
rook/kubestone-iperf/results
rook/kubestone-iperf/*.png
