.DS_Store
.ropeproject
*.sw?
*.pyc
manifest.xml
ansible.log
rook/kubeconfig/
rook/cephconfig/
rook/geni/hosts
rook/.env

#skyhook_overhead experiment
skyhook_overhead/data
skyhook_overhead/results

# ceph benchmarks
rook/ceph_benchmarks/results

# iperf
rook/kubestone_iperf/results
rook/kubestone_iperf/*.png
rook/kubestone_iperf/*.yaml

# fio
rook/kubestone_fio/results
rook/kubestone_fio/*.png
rook/kubestone_fio/*.yaml
